.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

h2{
    font-size: 40px;
}

#quantidadeMoedas{
    font-size: 70px;
    font-weight: bold;
    /*border: 5px solid black;
    /*border-radius: 50px;*/
    color: gold;
}

h4{
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

h5{
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
}
#nome{
    color: blue;
    font-size: 25px;
    font-family: 'Arial';
}
#moeda{
    width: 50px;
    height: 50px;
}
#aprovado{
    color: green;
    font-weight: bold;
}
#pendente{
    color: red;
    font-weight: bold;
}

#extratoDoador{
    position: relative; 
    left: 150px; 
    width: 700px;
    height: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*body{
    font-family:Verdana;
}
 
*/
#tabelaExtratoDoador{
    width:100%;
    border:solid 1px;
    text-align:left;
    border-collapse:collapse;
}
 
#tabelaExtratoDoador tbody tr{
    border:solid 1px;
    height:30px;
    cursor:pointer;
}
 
#tabelaExtratoDoador thead{
    background:beige;
}
 
#tabelaExtratoDoador thead th:nth-child(1){
    width:100px;
}
 
#tabelaExtratoDoador input{
    color:navy;
    width:100%;
}