/*body{

    margin-top: 0;
    margin-bottom: 0;
    position: relative;

}*/

h1 {
    font-size: 50px; 
	position: absolute; top: 20px; right: 150px;
	font-family: 'Kaushan Script';
	color: purple;
}

p {
	font: arial 14px;
}

h2{
	font: times;
	font-size: 24px;
	color: purple;
	font-weight: normal;
}


#quemSomos{
    position: absolute;  
    right: 30px; 
    top: 125px;
    box-sizing: border-box;
    width: 55%;
	text-align: justify;
}

#foto1{
	float: right;
	width: 60%;
    height: 150px;

}

.logotipos{

    height: 100px;
    width: 100px;

}
#tabelaRecompensas{
	width: 300px;
}
#tabelaClassificação{
	width: 300px;
}
table {
  border-collapse: collapse;
  width: 50em;
  border: 1px solid #666;
}
thead {
  background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}
tr:hover {
  background-color:#3d80df;
  color: #fff;
}
thead tr:hover {
  background-color: transparent;
  color: inherit;
}
tr:nth-child(even) {
    background-color: #edf5ff;
}
th {
  font-weight: normal;
  text-align: left;
}
th, td {
  padding: 0.1em 1em;
}

