h2 {
    margin-left: 20px;
    margin-right: 20px;
    font: times;
    font-size: 30px;
    
}

#login{
    position: relative; 
    left: 150px; 
    bottom: 200px;
    width: 500px;
    height: 300px;
    border: 1px solid purple;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}