body{

    margin-top: 0;
    margin-bottom: 0;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 5px solid purple;
    box-sizing: border-box;
    background-color: #d4aad4;

}

#logotipo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h2 {
    margin-left: 20px;
    margin-right: 20px;
    font: times;
    font-size: 30px;
    
}

#login{
    position: absolute; left: 150px; top: 300px; bottom: 100px;
    width: 500px;
    border: 1px solid purple;
    box-sizing: border-box;
    padding-left: 130px;
}