<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agasalhe +</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-purple.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <link rel="shortcut icon" href="imagens/logo_transparente.ico" type="image/x-icon">

	<link rel="stylesheet" href="css/cadastroDoador.css">
  <link rel="stylesheet" href="css/geral.css">

  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

</head>
<body>
  
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a id="listaLocais" class="mdl-navigation__link" href="/">Início</a>
            <a id="listaLocais" class="mdl-navigation__link" href="/locais">Onde doar?</a>
            <a id="menuContato" class="mdl-navigation__link" href="/faleConosco">Contato</a>
        </nav>
      </div>
    </header> 
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Agasalhe +</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Início</a>
        <a class="mdl-navigation__link" href="/login">Sou Doador - Login!</a>
        <a class="mdl-navigation__link" href="/loginPontoDeColeta">Sou Ponto de Coleta - Login!</a>
        <a class="mdl-navigation__link" href="/cadastroPontoDeColeta">Cadastre-se - Ponto de Coleta!</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <span>
          <img id="logo" src="imagens/logo_transparente.png" id="logotipo"/>
        </span>
        <span>
          <div class="conteudoCentralizado" id="signupDoador">
            <h2>Cadastro de Doador!</h2>
            <form action="/editarConta" method='post'>
            <!--<form action="minhaConta.html">-->
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <span>Eu sou um(a):</span>
                <span>
                  <input type="radio" id="feminino" name="sexoDoador"/>
                  <label for="radio1">Mulher</label>
                  <input type="radio" id="masculino" name="sexoDoador"/>
                  <label for="radio2">Homem</label>
                </span>   
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Nome Completo</legend>
                <input class="mdl-textfield__input" type="text" id="nomeDoador" name="nomeDoador" required>   
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Data de Nascimento</legend>
                <input class="mdl-textfield__input" type="date" id="dataNascimentoDoador" name="dataNascimentoDoador" required> 
              </div>
              
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Endereço</legend>
                <input class="mdl-textfield__input" type="text" id="enderecoDoador" name="enderecoDoador" required>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Telefone</legend>
                <input class="mdl-textfield__input" type="text" id="telefoneDoador" name="telefoneDoador" pattern="[0-9]+$" required>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>CPF</legend>
                <input class="mdl-textfield__input" type="text" id="cpfDoador" name="cpfDoador" pattern="[0-9]+$" maxlength="11" required>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>E-mail</legend>
                <input class="mdl-textfield__input" type="e-mail" id="emailDoador" name="emailDoador" required>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Nome de Usuário</legend>
                <input class="mdl-textfield__input" type="text" id="loginDoador" name="loginDoador" required>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Senha</legend>
                <input class="mdl-textfield__input" type="password" id="passwordDoador" name="passwordDoador" required>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Confirmar senha</legend>
                <input class="mdl-textfield__input" type="password" id="confirmaPasswordDoador" name="confirmaPasswordDoador" required>
              </div>

              <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <legend>Foto</legend>
                <input class="mdl-textfield__input" type="file" id="fotoDoador">
              </div>-->

              <div>
                <button id="limpar" type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Limpar</button>

                <button id="registrar" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"onclick=SucessoCadastro()>Registrar</button>
              </div>

            </form>
          </div>
        </span>
        </span>
      </div>
    </main>
  </div>
  <script type="text/javascript" src="js/cadastroDoador.js"></script>
  <script type="text/javascript" src="js/mensagens.js"></script>
</body>
</html>