	<title>Agasalhe +</title>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			  <div class="mdl-layout__header-row">
			    <div class="mdl-layout-spacer"></div>
			    <nav class="mdl-navigation mdl-layout--large-screen-only">
			        <a id="listaLocais" class="mdl-navigation__link" href="index.html">Início</a>
			        <a id="listaLocais" class="mdl-navigation__link" href="locais.html">Onde doar?</a>
			        <a id="menuContato" class="mdl-navigation__link" href="faleConosco.html">Contato</a>
			    </nav>
			  </div>
			</header> 
			<div class="mdl-layout__drawer">
		      <span class="mdl-layout-title">Agasalhe +</span>
		      <nav class="mdl-navigation">
		        <a class="mdl-navigation__link" href="login.html">Sou Doador - Login!</a>
		        <a class="mdl-navigation__link" href="cadastroDoador.html">Cadastre-se - Doador!</a>
		        <a class="mdl-navigation__link" href="loginPontoDeColeta.html">Sou Ponto de Coleta - Login!</a>
		        <a class="mdl-navigation__link" href="cadastroPontoDeColeta.html">Cadastre-se - Ponto de Coleta!</a>
		      </nav>
		    </div>
		<div class="mdl-layout__content">
			  <div class="page-content">
			    <img id="foto1" src="imagens/foto1.png"/>
			    <span>
			      <img id="logo" src="imagens/logo_transparente.png" id="logotipo"/>
			    </span>

               <div id="quemSomos">
    
               <h2>Quem Somos?</h2>
               <p>
               O AGASALHE + é uma ferramenta onde você pode praticar a caridade doando agasalhos em pontos especificos de coleta e assim receber moedas virtuais que darão descontos na compra de produtos em lojas associadas.<br><br>
               </p>
               <h2>Como Funciona?</h2>
               <p>
               É um projeto de incentivo a doação de agasalhos, como camisas, camisetas, blusas de frio, calças, bermudas, shorts, calçados e outros. Assim, realize o seu cadastro de usuário e logo após faça o seu login, então poderá cadastrar as doações de peças que deseja e depois entrega-las nos pontos de coletas escolhidos. Esses agasalhos doados são classificados de acordo com o aparente estado de conservação: ruim, bom, novo, etc; pela vistoria no ponto de coleta e baseado nessa classificação os usuários ganham moedas virtuais.
               </p>

			   <table id="tabelaRecompensas" align='center'>
			   <caption>Tabela de Recompensas</caption>
				<thead>
				 <tr>
				  <th align="left">Agasalho</th>
				  <th align="right">Moedas</th>
				 </tr>
				</thead>

				 <tr>
				  <td align="left">Bermuda</td>
				  <td align="right">$ 20</td>
				 </tr>
				 <tr>
				  <td align="left">Blusa de Frio</td>
				  <td align="right">$ 30</td>
				 </tr>
				 <tr>
				  <td align="left">Camisa</td>
				  <td align="right">$ 20</td>
				 </tr>
				 <tr>
				  <td align="left">Camiseta</td>
				  <td align="right">$ 15</td>
				 </tr>
				 <tr>
				  <td align="left">Calça</td>
				  <td align="right">$ 40</td>
				 </tr>
				 <tr>
				  <td align="left">Short</td>
				  <td align="right">$ 15</td>
				 </tr>
				 <tr>
				  <td align="left">Jaqueta</td>
				  <td align="right">$ 50</td>
				 </tr>

				 <tr>
				  <td align="left">Touca</td>
				  <td align="right">$ 5</td>
				 </tr>
				 <tr>
				  <td align="left">Boné</td>
				  <td align="right">$ 5</td>
				 </tr>
				 <tr>
				  <td align="left">Par de Luvas</td>
				  <td align="right">$ 5</td>
				 </tr>
				 <tr>
				  <td align="left">Par de Meias *</td>
				  <td align="right">$ 7</td>
				 </tr>
				 <tr>
				  <td align="left">Par de Tênis</td>
				  <td align="right">$ 50</td>
				 </tr>
				 <tr>
				  <td align="left">Par de Sapatos</td>
				  <td align="right">$ 30</td>
				 </tr>
				 <tr>
				  <td align="left">Par de Sapatilhas</td>
				  <td align="right">$ 15</td>
				 </tr>
				 <tr>
				  <td align="left">Par de Chinelos</td>
				  <td align="right">$ 10</td>
				 </tr>
				 <tr>
				  <td align="left">Cueca/Calcinha *</td>
				  <td align="right">$ 20</td>
				 </tr>
				</table>

               <p align='center'>As peças na tabela marcadas com * só podem ser novas</p>

               <table id="tabelaClassificação" align='center'>
			   <caption>Tabela de Classificação</caption>
				<thead>
				 <tr>
				  <th align="left">Situação do Agasalho</th>
				  <th align="right">% de Moedas</th>
				 </tr>
				</thead>
				{{#each classificacoes}}
				 <tr>
				  <td align="left">{{estado}}</td>
				  <td align="right">{{valor}}%</td>
				 </tr>
				</table>

               <h2>Onde usar as moedas?</h2>
               <p>
               Contamos com lojas e empresas associadas onde você poderá comprar um produto e obter desconto utilizando suas moedas virtuais. Confira algumas das principais!
               </p>
               
               <img src="imagens/mcdonalds.png" class="logotipos">
               <img src="imagens/riachuelo.png" class="logotipos">
               <img src="imagens/Subway.png" class="logotipos">
               <img src="imagens/cineart.png" class="logotipos">
               <img src="imagens/cinemark.png" class="logotipos">
               <img src="imagens/CA.png" class="logotipos">
               <img src="imagens/burguerking.png" class="logotipos">
               <img src="imagens/marisa.png" class="logotipos">
               <img src="imagens/carrefour.png" class="logotipos">
			  </div>
		</div>
	</div>